{name, "webmachine"}.
{authors, ["Justin Sheehy <justin@basho.com>","Andy Gross <andy@basho.com>"]}.
{description, "A REST-based system for building web applications."}.
{homepage, "http://webmachine.basho.com/"}.
{rebar_compatible, true}.
{license, "Apache License 2.0", "LICENSE"}.
{url, {git, "https://github.com/basho/webmachine.git", {tag, "webmachine-1.8.0"}}}. 
{applications, [webmachine]}.
